.blog-container {
  display: flex;
}

.blog-container section {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  flex: 0 0 65%;
  padding: 1% 2% 1% 1%;
}

.post-summary {
  margin-bottom: 2%;
}

.post-summary p:first-child {
  color: #a0a0a0;
  font-size: 75%;
  font-weight: lighter;
  margin-bottom: 0.2%;
}

.post-summary span {
  padding: 0 0.2rem 0 0.2rem;
  border: 1px solid #e6e6e6;
  border-radius: 1.25rem;
}

.post-summary .content p {
  color: #333;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.post-summary h2 {
  margin-bottom: .5%;
}

aside.aside-left {
  flex: 0 0 20%;
  padding: 5% 5% 0;
  text-align: left;
}

aside.aside-right {
  flex: 0 0 15%;
  padding: 2% 1% 0;
  text-align: left;
}

aside h3 {
  font-size: 110%;
  margin-bottom: 1%;
  margin-top: 10%;
}

aside a {
  font-size: 90%;
  margin-bottom: 1%;
  margin-top: 1%;
  color: black;
}

.post-pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 300px;
  margin: auto;
}


/* ############ Social Media Contacts on Index page############### */
.contacts-div {
  margin-bottom: 1rem;
}

.contacts-list {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 0;
  flex-shrink: 0;
  list-style: none;
  padding: 0;
  margin: .625rem -.1875rem;
  width: 8.75rem;
}

.contacts-list-item {
  padding: 0;
  display: flex;
  margin: .25rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  border-radius: 25%;
  text-align: center;
  border: 1px solid #ebebeb;
}

.contacts-list-item-links {
  border: 0;
  display: flex;
  color: #222;
}

.contacts-icons {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-style: normal;
  font-weight: 400;
  speak: none;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ***********************************
Word cloud
*********************************** */
div.tags {
  font-weight: bold;
  font-size: medium;
  flex-wrap: wrap;
  padding-left: 1.8rem;
  padding-bottom: 0.5rem;
  align-items: center;
}

ul.tags {
  list-style: none;
  flex-wrap: wrap;
  /*justify-content: center;*/
  font-size: small;
  display: flex;
}

li.tags{
  margin-bottom: 0;
  padding-left: 0.3rem;

}

/* ***********************************
MEDIA QUERIES
*********************************** */
@media (max-width: 991px) {
  .blog-container {
    display: block;
  }

  .blog-container section {
    border-right: none;
    padding-right: 0;
  }

  .post-summary:last-child {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 0;
    padding-bottom: 3em;
  }

  aside {
    padding-top: 3%;
    margin: auto;
    width: 90%;
  }
}

/* Microsoft Lumia 550 */
@media (max-width: 640px) {
  aside {
    padding: 3em 0;
    width: 100%;
  }
}

/* iPhone4 */
@media (max-width: 320px) {
  .post-summary h2 {
    font-size: 22px;
  }

  .post-summary p {
    font-size: 16px;
  }
}
